* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	background-color: #2596be;
}

#container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

h1 {
	color: #eee;
}

#button {
	background-color: #eee;
	color: #2596be;
	padding: 1em 1.6em;
	margin-top: 2em;
	cursor: pointer;
	transition: transform 0.2s ease-in-out;
	text-transform: uppercase;
	font-weight: bold;
}

#button:hover {
	background-color: #222;
}

#button:active {
	transform: scale(1.1);
}
