* {
        transition: 0.2s ease-in-out;
        margin: 0;
        padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #2596be;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

h1 {
    color: #eee;
}

#button {
    background-color: #eee;
    color: #222;
    border: none;
    padding: 0.8em 1.2em;
    margin-top: 2em;
}

#button:hover {
    background-color: #222;
    color: #eee;
}

#button:active {
    border: 3px solid #222;
    transition: 0.1s ease-in-out;
}
